LLMSocioeconomicDroughtIdentificationModel.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: LLMSocioeconomicDroughtIdentificationModel
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.3@08f25a10c0617a3512fac091a0f0d894925357e965efe40fdf95cb48e09b62d1
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: seekerliu/bocha:0.0.1@7d2dbad3f9d2652300d73bb8d91337e925f3c0daf9e0a9e285e060fb9dd7aadb
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1764659580100-source-1764659967317-target
      selected: false
      source: '1764659580100'
      sourceHandle: source
      target: '1764659967317'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1764659580100-source-1764661271860-target
      selected: false
      source: '1764659580100'
      sourceHandle: source
      target: '1764661271860'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1764661271860-source-1764681918064-target
      selected: false
      source: '1764661271860'
      sourceHandle: source
      target: '1764681918064'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1764681918064-source-1764682160186-target
      selected: false
      source: '1764681918064'
      sourceHandle: source
      target: '1764682160186'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1764659967317-source-1764682160186-target
      selected: false
      source: '1764659967317'
      sourceHandle: source
      target: '1764682160186'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: answer
      id: 1764682854549-source-1764691348136-target
      selected: false
      source: '1764682854549'
      sourceHandle: source
      target: '1764691348136'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 1764682160186-source-1764682854549-target
      selected: false
      source: '1764682160186'
      sourceHandle: source
      target: '1764682854549'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1764682854549'
        sourceType: template-transform
        targetType: llm
      id: 1764770161436-source-1764725285915-target
      selected: false
      source: '1764770161436'
      sourceHandle: source
      target: '1764725285915'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1764682854549'
        sourceType: tool
        targetType: template-transform
      id: 1765335255092-source-1764770161436-target
      selected: false
      source: '1765335255092'
      sourceHandle: source
      target: '1764770161436'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1764682854549'
        sourceType: iteration-start
        targetType: tool
      id: 1764682854549start-source-1765335255092-target
      source: 1764682854549start
      sourceHandle: source
      target: '1765335255092'
      targetHandle: target
      type: custom
      zIndex: 1002
    nodes:
    - data:
        desc: 按下列格式输入年份及省份，如XXXX年XX省，2020年浙江省
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 117
      id: '1764659580100'
      position:
        x: 0
        y: 134
      positionAbsolute:
        x: 0
        y: 134
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: e3f38ec0-12e3-45b5-8145-2c4152a9c874
          role: system
          text: 当{{#sys.query#}}的具体年份 + 省份（格式示例：2021 年江苏省）时，直接输出该年份，例如2021年；只要不要输出其他信息
        selected: false
        title: 年份提取
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1764659967317'
      position:
        x: 363.0000125229722
        y: 155
      positionAbsolute:
        x: 363.0000125229722
        y: 155
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - F7aWiZx2uXuEmj675WXCdURHP7gAICyKeAWp/I0Kms5xfRXUlZQxuNuZivsIyKPf
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_variable_selector:
        - '1764659580100'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1764661271860'
      position:
        x: 368.9999997429302
        y: 306.9999948586037
      positionAbsolute:
        x: 368.9999997429302
        y: 306.9999948586037
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1764661271860'
          - result
        model:
          completion_params:
            enable_search: true
            temperature: 0.7
          mode: chat
          name: qwen3-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: bb563adc-6e7e-4845-9163-e453355de3c9
          role: system
          text: '当{{#sys.query#}}的具体年份 + 省份（格式示例：2021 年江苏省）时，直接输出该省份对应的所有地级市（自治州、省直管县级市、地区）。格式要求：每个地级市前均加上所属省份名称，以
            “省份 + 地级市” 形式呈现（例如江苏省苏州市），不要输出年份。若是直辖市则直接返回市名（例如北京市、上海市、重庆市、天津市））

            '
        selected: true
        title: 城市提取
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1764681918064'
      position:
        x: 671.5738593258158
        y: 306.9999948586037
      positionAbsolute:
        x: 671.5738593258158
        y: 306.9999948586037
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\ndef main(cities: str, year: str):\n    print(cities)\n    city =\
          \ cities.split(\"\\n\")\n    year_city = [f'{year} 年{x}' for x in city]\n\
          \    return { \"result\": year_city\n    }\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: array[string]
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1764681918064'
          - text
          value_type: string
          variable: cities
        - value_selector:
          - '1764659967317'
          - text
          value_type: string
          variable: year
      height: 52
      id: '1764682160186'
      position:
        x: 940.0000046272567
        y: 155
      positionAbsolute:
        x: 940.0000046272567
        y: 155
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        error_handle_mode: continue-on-error
        flatten_output: true
        height: 444
        is_parallel: false
        iterator_input_type: array[string]
        iterator_selector:
        - '1764682160186'
        - result
        output_selector:
        - '1764725285915'
        - text
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1764682854549start
        title: 迭代
        type: iteration
        width: 2096
      height: 444
      id: '1764682854549'
      position:
        x: -181.0156340171044
        y: 418.6125902997726
      positionAbsolute:
        x: -181.0156340171044
        y: 418.6125902997726
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 2096
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1764682854549start
      parentId: '1764682854549'
      position:
        x: 60
        y: 60
      positionAbsolute:
        x: -121.01563401710439
        y: 478.6125902997726
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        answer: '{{#1764682854549.output#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 102
      id: '1764691348136'
      position:
        x: 0
        y: 928.6974825887373
      positionAbsolute:
        x: 0
        y: 928.6974825887373
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1764770161436'
          - output
        isInIteration: true
        isInLoop: false
        iteration_id: '1764682854549'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 377e6ca9-7836-4a3a-a948-5a45839cfc51
          role: system
          text: '请基于{{#context#}}的目标信息，按以下规则判定{{#1764682854549.item#}}指定的年份、省份、城市是否存在干旱情况：核心判定标准为，若搜索结果中明确出现
            “供水紧张”“供水困难”“停水”“限制供水”“应急送水”“农作物受灾” 任一关键词，且该关键词出现年份与目标年份、省份、城市的用水保障场景直接关联（仅参考政府公告、官方通报、权威媒体报道，注意不要参考学术文章、期刊文章、豆丁文档和招标公告内容），即可直接判定该地区在对应年份存在干旱情况，一定要注意报道发布年份是否与目标年份相同，年份不同不可作为判断依据；无需额外叠加降水量、土壤湿度等专业监测数据，仅以明确公开的用水影响表述为判定依据，确保结果直观且符合实际场景关联逻辑，但未出现干旱直接影响社会经济（包括农业）稳定运行的证据（如实际发生了供水紧张、供水困难、农作物减产）则不应判断为干旱。若为全省性供水紧张、供水困难等描述，需仔细搜索是否出现目标城市（例如，浙江省多地出现干旱情况，如杭州、丽水等，此时若目标城市为浙江省杭州市，可判断其发生干旱）。同时要注意，以下情况不应判断为干旱：

            （1）区域时常或经常发生干旱不能认定为目标年份发生了干旱。

            （2）区域建设实施水利工程、建设实施供水工程、推动节水、水质检测和水资源保护宣传，不应被用作判断是否发生干旱的依据

            （3）其他年份和其他地区的干旱情况，不作为目标年份、省份、城市干旱的依据。

            （4）仅制定了抗旱相关的政策与应急预案，并未实际出现供水紧张、供水困难、限制供水等情况，不能认定为目标年份发生了干旱。

            （5）宣传活动中介绍的背景，如先天缺水，工程能力不足等，不一定是针对当年介绍的，不能作为判断因干旱导致供水困难、供水紧张的依据。

            （6）因暴雨洪水造成的供水困难、供水紧张不能判断为干旱。

            （7）该区域是水资源匮乏地区，不能作为当年受干旱影响的证据。

            （8）灌溉用水量、用电量增加不代表抗旱，必须要有明确证据，不要自行推断。

            （9）若结果为日渐出现供水紧张、供水困难，不能作为当年出现。

            输出格式按照以下：

            year：{{#1764682854549.item#}}提供的年份

            province：{{#1764682854549.item#}}对应的省份名称

            city：{{#1764682854549.item#}}对应的地级市名称

            water_shortage：该城市在该年份是否确实发生干旱（取值：是 / 否）

            occur_months：若判断发生上述情况的月份（多个月份用数字逗号分隔；若未发生，填 0）

            reference:若判断发生上述情况，说明判断理论和parsed_url，parsed_url用“\n”分隔，例如“https://www.jiemian.com/article/7960403\n”'
        selected: false
        title: 搜索资料整理
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1764725285915'
      parentId: '1764682854549'
      position:
        x: 1646.8506813129256
        y: 65
      positionAbsolute:
        x: 1465.8350472958214
        y: 483.6125902997726
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1764682854549'
        selected: false
        template: '{{ json }}'
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1765335255092'
          - json
          value_type: array[object]
          variable: json
      height: 52
      id: '1764770161436'
      parentId: '1764682854549'
      position:
        x: 1185.3749042023267
        y: 65
      positionAbsolute:
        x: 1004.3592701852223
        y: 483.6125902997726
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        is_team_authorization: false
        iteration_id: '1764682854549'
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The keywords or phrases to search
            ja_JP: 検索キーワードまたはフレーズ
            pt_BR: As palavras-chave ou frases para pesquisar
            zh_Hans: 搜索关键词或语句
          label:
            en_US: query
            ja_JP: query
            pt_BR: query
            zh_Hans: query
          llm_description: 搜索关键词或语句
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: noLimit
          form: llm
          human_description:
            en_US: The time range for the search results. Available options noLimit,
              oneYear, oneMonth, oneWeek, oneDay. Default is noLimit
            ja_JP: 検索結果の時間範囲。利用可能なオプションは noLimit, oneYear, oneMonth, oneWeek, oneDay
              です。デフォルトは noLimit です
            pt_BR: O intervalo de tempo para os resultados da pesquisa. Opções disponíveis
              noLimit, oneYear, oneMonth, oneWeek, oneDay. O padrão é noLimit
            zh_Hans: 搜索的时间范围，可选值为 noLimit, oneYear, oneMonth, oneWeek, oneDay。默认为
              noLimit
          label:
            en_US: freshness
            ja_JP: freshness
            pt_BR: freshness
            zh_Hans: freshness
          llm_description: 搜索的时间范围，可选值为 noLimit, oneYear, oneMonth, oneWeek, oneDay。默认为
            noLimit
          max: null
          min: null
          name: freshness
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 10
          form: llm
          human_description:
            en_US: Number of search results to retrieve (1-10), default is 10
            ja_JP: 検索結果の数(1-10)、デフォルトは10
            pt_BR: Número de resultados de pesquisa para recuperar (1-10), padrão
              é 10
            zh_Hans: 搜索结果的数量(1-10)，默认为10
          label:
            en_US: count
            ja_JP: count
            pt_BR: count
            zh_Hans: count
          llm_description: 搜索结果的数量(1-10)，默认为10
          max: 10
          min: 1
          name: count
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        params:
          count: ''
          freshness: ''
          query: ''
        plugin_id: seekerliu/bocha
        plugin_unique_identifier: seekerliu/bocha:0.0.1@7d2dbad3f9d2652300d73bb8d91337e925f3c0daf9e0a9e285e060fb9dd7aadb
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=809a6380-6c20-44ad-929a-2db6db60bc0b&filename=6fc9b088775e6989b928672f2d8aeb764bdfd017127d04ed71fea55089c5aa74.svg
        provider_id: seekerliu/bocha/bocha
        provider_name: seekerliu/bocha/bocha
        provider_type: builtin
        selected: false
        title: 社会经济搜索
        tool_configurations: {}
        tool_description: 从博查搜索全网信息和网页链接，返回结果包括网页标题、网页URL、网页摘要、网站名称、网站图标、发布时间、图片链接等
        tool_label: Bocha Web Search
        tool_name: BochaWebSearch
        tool_node_version: '2'
        tool_parameters:
          count:
            type: constant
            value: 20
          freshness:
            type: mixed
            value: noLimit
          query:
            type: mixed
            value: '{{#1764682854549.item#}}及下属县（市、区）出现供水紧张，供水困难，停水，限制供水，应急送水，严重缺水，旱情'
        type: tool
      height: 52
      id: '1765335255092'
      parentId: '1764682854549'
      position:
        x: 614.1930763167106
        y: 65
      positionAbsolute:
        x: 433.17744229960624
        y: 483.6125902997726
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    viewport:
      x: 199.71452338468697
      y: 171.816773799107
      zoom: 0.25
  rag_pipeline_variables: []
